## ch8_3 pandas dataframe
지난 챕터에 이어서 마찬가지로 데이터 프레임을 다루는 여러 기법들을 소개하겠습니다. 데이터 프레임에 조건을 걸어서 데이터를 가져오고, 특정 컬럼을 기준으로 정렬하는 등 실제 데이터 분석 작업에서 많이 사용하는 기법들을 배워보겠습니다. 데이터 셋은 마찬가지로 2019년 spotify 스트리밍 순위 데이터 셋을 사용하겠습니다.

데이터 셋: https://www.kaggle.com/datasets/prasertk/spotify-global-2019-moststreamed-tracks

In [3]:
import pandas as pd

다음으로 df.describe()를 이용하여 각 컬럼별로 최소값과 최대값, 평균, 분산 등 기초 통계량을 계산해보겠습니다. 이를 통해서 아주 기본적인 데이터 분석을 진행할 수 있습니다.

### 특정 조건에 맞는 행들만 가져오기

특정 컬럼에 조건을 걸어서 조건에 일치하는 행들만 가져오고 싶으면 아래처럼 인덱스에 부등식을 활용하면 됩니다. 데이터 프레임에서 스트리밍 횟수가 1억회 이상인 트랙들만 추출해보겠습니다.

### 조건 중첩시키기
여러 조건을 중첩시켜서 데이터를 가져오고 싶다면 "&", "|" 기호를 사용하여 조건을 중첩하면 된다. 이 때, 반드시 각 조건을 괄호로 한번 감싸주어야 에러가 나지 않는다. 한번 조회 수가 1억 이상인 동시에 tempo가 120 이상인 트랙만 가져와보자.

### dataframe 정렬하기
df.sort_values()를 이용하면 특정 컬럼을 기준으로 데이터 프레임을 소팅할 수 있습니다. 한번 Artist_popularity가 높은 순으로 데이터 프레임을 정렬한 후, 상위 10명의 아티스트를 출력해보겠습니다.

### dataframe 중복 제거하기
앞서 인기 순으로 정렬해서 아티스트를 가져와보면 "포스트 말론", 100이 중복해서 리턴 되었습니다. 만약 우리가 데이터 베이스에서 동일한 작업을 수행한다고 했을 때, SQL문을 작성하면 DISTINCT를 사용했을 것입니다. 비슷하게 df.drop_duplicates를 사용해서 결과로 리턴된 데이터 프레임의 중복을 제거해보겠습니다.

### dataframe 인덱스 재설정하기
원하는 대로 데이터를 가져왔습니다만, 행 맨앞에 붙어있는 인덱스가 트랙 인덱스 그대로 붙어있어서 거슬립니다. df.reset_index()를 이용해서 재설정 해주겠습니다.

In [ ]:
popular_artists_df.reset_index(drop=True)

          Artist  Artist_popularity
0    Post Malone                100
1          Drake                 99
2       J Balvin                 99
3      Bad Bunny                 98
4  Billie Eilish                 98
5     Ed Sheeran                 98
6          Ozuna                 98
7     Juice WRLD                 98
8   Travis Scott                 98
9  Ariana Grande                 97

### 연습문제
dataframe을 이용해서 아래 문제들을 풀어보세요.

1. 2019년 인기 트랙에 포함된 BTS의 노래들의 이름과 스트리밍 횟수를 리턴하세요. 트랙 이름으로 오름차순 정렬을 하세요.

   Artist                                         Track Name    Streams
0     BTS  A Brand New Day (BTS World Original Soundtrack...    4383131
1     BTS  All Night (BTS World Original Soundtrack) [Pt. 3]    1921011
2     BTS                        Boy With Luv (feat. Halsey)  261504425
3     BTS                                           Dionysus   15134946
4     BTS  Dream Glow (BTS World Original Soundtrack) - P...   18648089
5     BTS                                               HOME   16442038
6     BTS                                    Intro : Persona    8775556
7     BTS                                          Jamais Vu   12992565
8     BTS                                      Make It Right   18423901
9     BTS                         Make It Right (feat. Lauv)   42873724
10    BTS                                        Mikrokosmos   18801822

2. BTS의 track들의 Streams, energy, Rank, temp의 통계량을 집계해보세요.

            Streams     energy         Rank       tempo
count  1.100000e+01  11.000000    11.000000   11.000000
mean   3.817284e+07   0.736455   728.545455  122.822000
std    7.483497e+07   0.146617   302.115661   32.488069
min    1.921011e+06   0.470000    87.000000   81.000000
25%    1.088406e+07   0.694000   678.000000  101.279500
50%    1.644204e+07   0.740000   711.000000  119.991000
75%    1.872496e+07   0.860000   831.500000  142.469500
max    2.615044e+08   0.910000  1266.000000  176.084000

3. 템포가 100 이하이거나 energy가 0.6 이하인 노래들 가운데 스트리밍 횟수가 높은 노래 10개의 제목과 아티스트, 템포, 스트리밍 횟수를 가져오세요.

,Track Name,Artist,Streams,tempo,energy
0,bad guy,Billie Eilish,1052358787,135.128,0.425
1,7 rings,Ariana Grande,789094044,140.048,0.317
2,Dance Monkey,Tones and I,764208309,98.078,0.593
3,Señorita,Shawn Mendes,763064359,116.967,0.548
4,Con Calma,Daddy Yankee,715027898,93.989,0.860
5,Shallow,Lady Gaga,714097238,95.799,0.385
6,Someone You Loved,Lewis Capaldi,661930419,109.891,0.405
7,Wow.,Post Malone,615519053,99.947,0.539
8,Without Me,Halsey,605653817,136.041,0.488
9,Dancing With A Stranger (with Normani),Sam Smith,560659214,102.998,0.520